section {
<<<<<<< HEAD
  background-color: #f7f7f7;
}

.poor-color {
  color: #bdbdff;
}

h1 {
  font-size: 2rem;
=======
  /* background-color: #ffffff; */
  background-color: #f7f7f7;
}

section h1 {
  /* color: #000; */
  color: #bdbdff;
  font-size: 2rem;
}

section p {
  color: #303030;
  font-size: 1rem;
>>>>>>> 7072677 (Draft contrast validation idea (#3))
}

p {
  font-size: 1rem;
}

button {
  display: inline-block;
  padding: 1.25rem;
  font-size: 1rem;
  color: #4169e1;
}
