section {
  /* background-color: #ffffff; */
  background-color: #f7f7f7;
}

section h1 {
  /* color: #000; */
  color: #bdbdff;
  font-size: 2rem;
}

section p {
  color: #303030;
  font-size: 1rem;
}

section button {
  display: inline-block;
  padding: 1.25rem;
  font-size: 1rem;
  color: royalblue;
}
