section {
  background-color: #f7f7f7;
}

.poor-color {
  color: #bdbdff;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

button {
  display: inline-block;
  padding: 1.25rem;
  font-size: 1rem;
  color: #4169e1;
}
